<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/head") %>
    <title>Signup Page</title>
</head>
<body>
    <%- include("./partials/nav") %>
    
    <div class="container" style="border: 2px solid grey; padding: 10px; border-radius: 5px;" >
    <form method="post" action="/user/signup" enctype="multipart/form-data">
      <div class="mb-3" >
        <label for="fullName" class="form-label">Full Name:</label>
        <input type="text" class="form-control" name="fullName" style="border: 2px solid grey; border-radius: 5px;" id="email" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="profileImage" class="form-label">Profile Image (optional)</label>
        <input name="profileImage" class="form-control" type="file" id="profileImage" accept="image/*">
        <div class="form-text">Accepted: jpg, png. Max 2MB.</div>
      </div>

       <div class="mb-3 ">
        <label for="email" class="form-label">Email address:</label>
        <input type="email" class="form-control" name="email" style="border: 2px solid grey; border-radius: 5px;" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" style="border: 2px solid grey; border-radius: 5px;" id="password">
      </div>
      
      <button type="submit" class="btn btn-primary">Signup</button>

       <% if (locals.error) { %>
      <div class="alert alert-danger mt-10" role="alert" style="margin-top: 10px;">
        <%= error %>
      </div>
     <% } %>
     
    </form>
    </div>


</body>
<%- include("./partials/script") %>
</html>